[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/cryptopp"]
	path = dependencies/cryptopp
	url = https://github.com/weidai11/cryptopp
